footer {
	background-color: #fff;
	border-top: 1px solid $grey;
	padding-top: 10px;
	.center {
		width: 500px;
		margin: 0 auto;		
		li {
			line-height: 2;
			margin-right: 25px;
			a {
				color: #222;
				text-decoration: none;
				&:hover { color: $red; }
			}
		}
	}
}