@import "colors";
@import "general";
@import "header";
@import "footer";

body {
	background-color: lighten($grey, 15%);
}

button {
	border: 0 none;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 7px 10px;
	text-transform: none;
	width: 16.795%;
	text-align: center;
	background: none repeat scroll 0 0 $red;
	color: #fff;
	&:hover {
		background: none repeat scroll 0 0 #999999;
		color: #fff;
	}
}

// ---------- Breadcrumbs ----------
.breadcrumbs {	
	padding-top: 85px;
	.row {
		padding-left: 10px;
	}
	li {
		line-height: 2;
		margin-right: 15px;
		a {
			color: #222;
			text-decoration: none;
			&:hover { text-decoration: underline; }
		}
	}
	.current a { color: $red; }
	.triangle {
		background-image: url('../images/triangle.png');
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 13px;
		height: 5px;
		width: 7px;
	}
}

// ---------- Content ----------
.content {
	padding: 20px 0;
	.product {
		background-color: #fff;
		border: 1px solid $grey;
		border-radius: 3px;	
		padding: 30px;
		min-height: 410px;
		.product-image {	
			float: left;
			max-width: 400px;
			max-height: 350px;
			margin-right: 20px;
			overflow: hidden;
			img { border-radius: 5px; }
		}
		.product-information {
			.name-and-price {
				h2 {
					font-size: 2em;
					margin: 0;
					padding: 0;
				}
				.price {
					color: lighten($red, 10%);
					font-size: 1.5em;
					line-height: 2.5;	
				}
			}
			.order {
				input {
					border: 1px solid $grey;
					border-radius: 5px 5px 5px 5px;
					color: #999999;
					// float: left;
					font-size: 105%;
					height: 28px;
					margin: 0 15px;
					padding: 0;
					text-align: center;
					width: 37px;
				}
				
			}		
			.description p {
				font-size: 14px;
				line-height: 1.5;
			}		
		}
		.comments {	
			margin-top: 50px;
			font-size: 13px;
			h2 {
				border-bottom: 1px solid $grey;
				padding-bottom: 10px;
			}
			.single-comment {
				border-left: 10px solid $grey; 
				padding: 10px;
				margin-bottom: 15px;
				span {
					font-size: 14px;
					font-weight: bold;
				}
			}
			.comment-form {
				padding: 10px;
				margin-top: 20px;
				input, textarea {
					border: 1px solid $grey;
					padding: 8px 10px;
					border-radius: 5px;		
					outline: 0;
					margin-bottom: 10px;
				}
				textarea {
					width: 350px;
				}
				input[type="submit"] {
					color: #222;
					&:hover { color: #fff; }
				}
			}		
		}
	}
	.products-grid {
		margin-top: -10px;
		li { margin: 7px; }
		.inner {
			background-color: #fff;
			border: 1px solid $grey;
			border-radius: 5px;
			width: 230px;
			.product-picture {
				border-radius: 5px;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom: 1px solid $grey;			
				max-width: 230px;
				max-height: 250px;
				overflow: hidden;
			}
			.product-information {
				text-align: center;
				padding-bottom: 5px;
				a {
					color: #222;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				h5 {
					color: $red;
					font-size: 16px;
				}
			}		
		}	
	}
	.row .registration, .row .login {
		margin: 0 auto;
		width: 450px;
		margin-bottom: 20px;
	}
	.registration, .login {
		background-color: #fff;
		border: 1px solid $grey;
		border-radius: 3px;	
		padding: 30px;
		min-height: 410px;
		text-align: center;
		h2 {
			margin: 0;
			padding: 0;
		}
		p {
			width: 330px;
			text-align: right;
		}
		input {
			border: 1px solid $grey;
			padding: 8px 10px;
			border-radius: 5px;		
			outline: 0;
			margin-bottom: 10px;
			margin-left: 10px;
		}
		button { min-width: 100px; }
	}
	.login {
		min-height: 270px;
	}
}
